$font-stack: 'Poppins', Helvetica;

$modal-background-dark: #19242b;
$modal-title-color-dark: #9bcff5;
$modal-content-color-dark: #c4d4df;
$modal-button-color-dark: #9bcff5;
$modal-button-color-hover-dark: #8db6d3;
$modal-button-color-text: #22303A;

@mixin flex($direction) {
    display: flex;
    flex-direction: $direction;
}

.modal {
    z-index: 1000;
    font-family: $font-stack;
    background: $modal-background-dark;
    width: 520px;
    min-height: 300px;
    position: fixed;
    padding: 1.8em 1.6em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 8px;

    .modal-header {
        @include flex(row);
        align-items: center;
        justify-content: space-between;
        height: auto;

        h2 {
            color: $modal-title-color-dark;
            font-size: 1.8rem;
            font-weight: 700;
            letter-spacing: .4px;
            line-height: 1.2;
        }
    }

    button {
        border: transparent;
        outline: transparent;
        background-color: transparent;
        align-self: flex-start;
        
        .close-btn {
            font-size: 2em;
            cursor: pointer;
            position: relative;
            transform: translateX(-100%);
            left: 100%;
            color: rgb(238, 238, 238);
        }
    }

    .modal-content {
        margin: 1.6em 0;
        padding-right: 1.3em;
        color: $modal-content-color-dark;
    }

    p {
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 1.5;   
    }

    .operation-buttons {
        @include flex(row);
        gap: .8em;
    }


}

.modal-overlay {
    content: '';
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.3);
    z-index: -2;
}

#operation-button {
    border-radius: 2px;
    font-size: 1rem;
    font-weight: 700;
    background-color: $modal-button-color-dark;
    color: $modal-button-color-text;
    cursor: pointer;
    padding: 0.8em 1.2em;
    &:hover {
        background-color: $modal-button-color-hover-dark;
    }
}

